.s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}
.s-container .swiper{
    width: 70%;
    position: unset;
    height: 12rem;
}
.s-container .swiper-slide{
   display: flex;
    background: white;
    height: 12rem;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.s-container .swiper-button-prev{
    left: 6rem;
}
.s-container .swiper-button-next{
    right: 6rem;
}
.s-container .swiper-button-prev,.s-container .swiper-button-next{
    color: black;
}
.s-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: column;
   
}
.name:first-child{
    font-weight: 600;
}
.name:nth-child(2){
    font-size: 0.8rem;
}
.s-left:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
}
.s-left:nth-child(3){
    font-weight: bold;
    font-size: 0.6rem;
    border: 1px solid var(--black);
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
}
.img-p{
    transform: rotate(-20deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -20%;
}